/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-04-2021, 18:29:35
    Author     : nayel
*/

body{
	font-family: "tahoma";
	font-size: 11pt;
	color: #6e6e6e;
        background-image:url('../imagenes/fondo-interes.jpg');
        background-attachment:fixed;
}
fieldset{
	border-radius: 10px;
	border-color: #dedede;
	border-style: solid;
	border-width: 2px;
	padding: 5px 5px 5px 5px;
	background-color: #f2f2f2;
	opacity: 90%;
}