table{

    padding:40px 0;
    background-color: #7FC1FB; 
   
}
input  {
      background-color: #FFE2F2; 
}
select{
     background-color: #FFE2F2; 
}
h1{
    text-align: center;
}

.txt{
	font-family: "tahoma";
	size: 10pt;
	color:#7a7a7a;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	border-color: #dedede;
	border-style: solid;
	border-width: 2px;
	width: 200px;
	height: 20px;
	opacity: 95%;
}

